*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}

:root{
    --neutral-600: #5d6a6a;
    --neutral-800: #19474e;
    --primary-1: #41c67e;
    --secondary-2: #1a6855;
    --neutral-100: white;
    --secondary-1: #ebf3ec;
    --secondary-3: #daf3e6;
    --secondary-4: #142a31;
    --neutral-700: #435655;
    --neutral-500: #a1b3b2;
    --neutral-400: #dae5e4;
    --neutral-300: #edf6f6;
    --neutral-200: #f7f7f7;
    --shadow-short-card: rgba(8,15,52,.04);
    --shadow-default-button-white: rgba(37,63,65,.07);
   
}

body{

    background-color: var(--neutral-200);;
}



h1,h2,h3,h4{
    color: var(--bs-main-color);
    font-family: Zodiak;
    font-style: normal;
    
}
 

h1{
    color:var(--neutral-100);
text-align: center;

font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 67.98px; /* 121.393% */
margin-bottom: -2px;
}
h2{
    color: var(--neutral-800);
    text-align: center;
    font-family: Zodiak;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 50.01px; 
}


h3{
    color: var(--neutral-800);
text-align: center;


font-style: normal;
font-weight: 700;

padding-bottom: 20px;
}

h4{
    color: var(--neutral-800);
text-align: center;


font-style: normal;
font-weight: 500;

padding-bottom: 20px;
}

h5{
    color: var(--neutral-100);



font-style: normal;
font-weight: 500;

padding-bottom: 20px;
}
p{
    color: #19474E;

  
    font-size: 18px;
    font-style: normal;
 
    line-height: 30.01px; 
    margin-bottom: 51px;
}

a{
    text-decoration: none;
}

.nav-item{
    font-family: DM Sans,sans-serif;
    font-size: 18px;
    font-style: normal; 
}



.videobg{
    position:absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 1183.92px;
    z-index: -1;

    object-fit:cover;
    min-height: 50vh;
}

.btncolor{


    display: flex;

padding: 24px 40.647px 23.98px 41px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 10000px;
border: 1px solid var(--primary-1);
background: var(--primary-1);
color: var(--neutral-200);
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
margin-left: 10px;
}



.container{

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    }



.bg-main{
    height: 1183.92px;
   width: 100%;
}
.bg-color{
  
           background-color: rgba(0, 0, 0, 0.5);
  
}




.section1 .subcontainer{
    padding-top: 190px;
   
       
      
   }


.section1 .container1{
    margin-top: 270px;
    display: flex;
    flex-direction: column;
      width: 80%;
     
   }

   .section1 .card{
  
       width: 1208px;
       height: auto;
       flex-shrink: 0;
       border-radius: 5px;
       background: var(--neutral-100);

 padding-bottom: 48px;
 text-align: center;
       position: relative;
       margin-left: auto;
       margin-right: auto;
       overflow-wrap: break-word;
   
   }




.smalltext{
padding-top: 48px;
color: var(--primary-1);

text-align: center;
font-family: DM Sans,sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 111.111% */
letter-spacing: 0.18px;
padding-bottom: 20px;

}







.services-section .container{

    margin-top: 450px;
    margin-bottom: 100px;
}

.hero-video--section{
    width: 560px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 1;
   margin-top: -30px;
}




.section3{
    padding-top: 50px;
    background: var(--secondary-1);
    padding-left: 20px;
    padding-bottom:140px;
}



.section3 .smalltext{
    padding-top: 48px;
    color: var(--primary-1);
    margin-top: 50px;
    text-align: center;
    font-family: DM Sans,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 0.18px;
margin-left: auto;    
margin-right: auto;
padding-bottom: 15px;
}








.card{
   


justify-content: center;
gap: 20px;

border-radius: 16px;
border: 1px solid #EDF6F6;
background: #FFF;
box-shadow: 0px 5px 14px 0px rgba(8, 15, 52, 0.04);


}





.headings{

margin-top: -540px;

    margin-left: -300px;
    gap: 20px;
    column-gap: 20px;
}
.cardimage{
    display: flex;
width: 404.47px;
height: 132px;
padding: 30px 23px;
justify-content: center;
align-items: center;
gap: 19px;
flex-shrink: 0;

border-radius: 16px;
border: 1px solid var(--neutral-300);
background: var(--neutral-100);
box-shadow: 0px 5px 14px 0px rgba(8, 15, 52, 0.04);
}


.co2card-section{

    padding-top: 200px;
    padding-bottom: 100px;
}


.coimage{

    width: 232px;
    height: 132px;


  }

  .co2card{
    display: inline-flex;
    padding: 75px 64.5px 75px 25px;
    align-items: center;
    gap: 20px;
    

    border-radius: 16px;
    border: 1px solid var(--neutral-300);
    background: #FFF;
    box-shadow: 0px 5px 14px 0px rgba(8, 15, 52, 0.04);

  }

  .co2cards{
    gap: 20px;
background-color: var(--neutral-300);


display: inline-flex;
padding: 61px 64.5px 51px 25px;
align-items: center;



 border-radius: 16px;
    border: 1px solid var(--neutral-300);
    background: var(--neutral-100);
    box-shadow: 0px 5px 14px 0px rgba(8, 15, 52, 0.04);

  }


  .co2card3{

    display: inline-flex;
padding: 51px 34.5px 21px 25px;
align-items: center;
gap: 20px;
border-radius: 16px;
border: 1px solid var(--neutral-300);
background: var(--neutral-100);
box-shadow: 0px 5px 14px 0px rgba(8, 15, 52, 0.04);
  }


.bg-colors{
margin-top: 40px;
    background-color:var(--neutral-100);
}





/* Custom styles for the buttons and icons */
.custom-btn {
   
    background: var(--neutral-800);
    border: none;
    border-radius: 50%;
    width: 80px; /* Adjust the width and height as needed */
    height: 80px;
 
   
    margin-top: auto;
    margin-bottom: auto;
}


.images8{

    width: 590px;

flex-shrink: 0;
}




.testimonialsection{

    padding-top: 100px;
    padding-bottom:100px;
    
}


.testimonial{
    display: flex;
   
    flex-direction: column;
    justify-content: center;
  
    color:var(--neutral-800);
    font-family: Zodiak;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.34px; /* 141.7% */
padding-right: 30px;
padding-top: 20px;


}
.carouselsection{

padding-bottom: 200px;


}
.carasol {
    display: inline-flex;
    
    padding: 26px 31.99px 27.33px 25px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--neutral-100);

}


.carasoltext{
    display: flex;


flex-direction: column;

flex-shrink: 0;

color: var(--neutral-800);

font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 111.111% */
letter-spacing: 0.18px;

}
.carousel-indicators{

    bottom: 35px;
   
}
.carousel-indicators [data-bs-target]{
   border-radius: 50%;
   height: 10px;
   width: 10px;
   background-color: rgb(48, 48, 48);
}

.boxs{
  
    flex-shrink: 0;
    border-radius: 12.017px;
    margin-top: 200px;
    padding-bottom: 100px;
    margin-bottom: 200px;
    background: var(--secondary-2);
    box-shadow: 0px 3.75521px 10.51458px 0px rgba(8, 15, 52, 0.04);
    animation: scrollAnimation 1s ease-in-out;


}


.btns{
    display: flex;
  margin-left: auto;
  margin-right: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--neutral-200);

    border-radius: 7510.417px;
    border: 0.751px solid var(--primary-1);
    background: var(--primary-1);
    font-family: DM Sans;
font-size: 18.519px;
font-style: normal;
font-weight: 700;

margin-top: -50px;
}


.logos{
    width: 110.552px;
    height: auto;
    flex-shrink: 0;

aspect-ratio: 3/2;
object-fit: contain;


}



.spacing{
padding-top: 10px;
}


.sectionbox .container{
width: 1200px;

}






@media screen and (max-width: 1200px) {
  .headings{

    margin-top: 20px;
    margin-left: 10px;
  }

  .carousel-indicators{

    bottom: 150px;
   
}

}


   @media screen and (max-width: 990px) {
  

  
.section1 .container1{

        margin-top: 450px;
    }
   .container  h2 {
        font-size: 26px;
        line-height: normal;
        padding: 0;
        margin: 0;
    }
    .services-section .container {
        margin-top: 600px;}
        .section3{padding: 0%;}
}

.carousel-indicators{

    bottom: 45px;
   
}

@media screen and (max-width: 786px) {
  
    .bg-main{
        width: 100%;
      height: 700px;
    }
    
    .videobg{
        width: 100%;
      height: 700px;
    }
      h1 {
         font-size: 40px;
         line-height: normal;
     }
  
   
  .section1 .container{
  padding-left: 1px;
  padding-right: 1px;
      padding-top: 10px;
     }



     .section1 .subcontainer{
        padding-top: 10px;
       
           place-items: center;
          
       }

  
       .section1 .container1{

        margin-top: 250px;
    }



      h2 {
         font-size: 32px;
         line-height: normal;
         padding: 0;
         margin: 0;
     }
     .services-section .container {
         margin-top: 700px;}
       
  }






  
@media screen and (max-width: 580px) {
 
    .bg-main{
        width: 100%;
      height: 700px;
    }

    .videobg{
        width: 100%;
      height: 700px;
    }
    .container    h1 {
         font-size: 26px;
         line-height: normal;
     }
  
     .container    h2 {
        font-size: 26px;
        line-height: normal;
        padding: 0;
        margin: 0;
    }
  .section1 .container{
  padding-left: 1px;
  padding-right: 1px;
      padding-top: 10px;
     }



     

  
       .section1 .container1{

        margin-top: 250px;

    }

.section1 p{
    width: 300px;
    text-align: center;
}

    
.services-section .container {
    margin-top: 800px;}
  
    .sectionbox .container{
       width: 100%;
       margin-left: 5px;
       }


     .co2card{
        padding: 75px 34.5px 75px 25px;
        
     }

     .co2cards{

       
            padding: 75px 24.5px 75px 25px;
     
         
     }

.co2card3{
    padding: 75px 24.5px 75px 25px;
}

     .headings{
        display: flex;
        flex-direction: column;
        justify-content: center;
margin: 0;
margin-top: 20px;
      }


      .carasol {
        display: inline-flex;
        width: 350px;
        padding: 20px;
        align-items: center;
        flex-shrink: 0;
        border-radius: 5px;
        background: var(--neutral-100);
    
    }
    
.cardimage{
    width: 350px;
}

    
        }


/* Initially hide the elements */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Adjust the transition duration */
  }
  
  .fade-in-section.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  



